/*mail:censureblock@gmail.com*/
@charset 'utf-8';
@namespace url(http://www.w3.org/1999/xhtml);
div#page,
div.page,
div#header,
div.header,
div#root,
section.b-yellow-box,
section.b-tabloid,
div#content,
div#toc,
table.infobox,
table.infobox > tbody > tr > th,
div.thumbinner,
table.metadata,
div#catlinks,
div.box,
div.inbox > table > tbody > tr > td,
tr.iclosed,
div.blockpost,
div.postright,
div.postfootright,
blockquote,
div.borderwrap,
td.post1,
td.post2,
td.row1,
td.row2,
td.formbuttonrow,
div.quotetop,
div.quotemain,
div.hidemain,
div.copyright,
div.chalt,
div.t_i_e_r,
div.g_123,
dl.description,
div.b_c-map,
div.footer,
li.arrow,
div.switch_version,
a.moirai,
div.lookup,
li.is-realty,
section.b-photo-slider,
div.m_item_offer,
h2.m_item_title,
ul.list > li,
ul.list,
div.item-vas,
h3.b_bottom,
ul.b-catalog-list > li,
div#content,
div#bottombox,
div.pBody,
div.centercolumn,
div.roundframe,
div.pagesection,
div.plainbox,
.windowbg,
.windowbg2,
.topic_table,
blockquote,
table.forumline,
tr.row1,
tr.row2,
td.row1,
td.row2,
tr.prow1,
tr.prow2,
td.prow1,
td.prow2,
td.bodyline,
table.forumline,
td.row1,
td.row2,
td.row3,
td.row3Right,
div#body_container,
div#page_container,
.message,
.row1,
.row2,
.row4,
td.poster_info,
table.forumline,
div.menu,
div#optnav,
table.tablebg,
.row1,
.row2,
.row3,
div.infoblock_r,
div.rframe,
div.description-text,
div.c-b-0,
div#layout,
div.island
{background:transparent !important;}
/*restore color*/
@-moz-document domain(wisconsin.gov){
div#header
{background:#0075BE !important;}}
@-moz-document domain(3dnews.ru){
div#wrapper
{background:#888888 !important;}}
@-moz-document domain(news.yandex.ru){
div.b-menu__item>a.b-link,
div.b-menu-horiz__item>a.b-link
{color:#ddd !important;}
div.b-menu__item_state_current>a.b-link,
:link:hover,:visited:hover
{color:#f00!important}}
@-moz-document domain(habrahabr.ru){
.post .published,
.html_format h1,
.html_format h2,
.html_format h3,
.html_format h4,
.html_format h5,
.html_format h6,
div#footer dt
{color:#bbb !important;}
.post .hubs a,
.html_format a,
div#footer a,
b.spoiler_title
{color:#369 !important;}}